<div *ngFor="let player of this.data | filter: productID">
	<div *ngFor="let wiki of this.wikiData | filter: productID" class="grid">
		<div class="grid-item grid-item-5 space">
			<div class="playerImage">
				<img src="./data/images/players/{{player.details_image_url}}">
			</div>
			<h1 class="headerText">{{player.nickname}}</h1>
			<div class="playerInformation">
				<p class="left">Name:</p> <p class="right">{{wiki.name}}</p>
			</div>
			<div class="playerInformation">
				<p class="left">Non Romanized Name:</p> <p class="right">{{wiki.non_romanized_name}}</p>
			</div>
			<div class="playerInformation">
				<p class="left">Team:</p> <p class="right">{{wiki.team}}</p>
			</div>
			<div class="playerInformation">
				<p class="left">Country:</p> <p class="right">{{wiki.country}}</p>
			</div>
			<div class="playerInformation">
				<p class="left">Birthday:</p> <p class="right">{{wiki.birth_date}}</p>
			</div>
<!-- 				<div class="playerInformation">
				<p class="left">Role(s):</p> <p class="right">Offlaner</p>
			</div>
			<div class="playerInformation">
				<p class="left">Signature Hero:</p> <p class="right">Nature's Prophet</p>
			</div>
			<div class="playerInformation">
				<p class="left">Solo MMR:</p> <p class="right">7594 (last update: 2016-08-31)</p>
			</div> -->				
		</div>
		<div class="grid-item grid-item-2 space">
			<h1 class="headerText">Latest matches</h1>
			<tbody>
				<tr>
					<th class="heroCategoryHero">Hero</th>
					<th class="heroCategoryStatus">Won/Lost match</th>
					<th class="heroCategoryKillRatio">K/D/A</th>
					<th class="heroCategoryNetworth">Networth</th>
					<th class="heroCategoryTime">Duration</th>
				</tr>
				<tr *ngFor="let match of this.matchesData | filter: productID" class="latestMatchResult" (click)="onClick($event)" id="{{match.matchID}}">
					<td><img class="heroImage" src="./data/images/heroes_images_small/{{match.hero}}.png" title="{{match.localized_hero}}"></td>
					<td *ngIf=" match.radiant_win == 'true' && match.team == 'Radiant' " class="won">Won Match</td>
					<td *ngIf=" match.radiant_win == 'false' && match.team == 'Dire' " class="won">Won Match</td>
					<td *ngIf=" match.radiant_win == 'true' && match.team == 'Dire' " class="lost">Lost Match</td>
					<td *ngIf=" match.radiant_win == 'false' && match.team == 'Radiant' " class="lost">Lost Match</td>
					<td>{{match.kills}}/{{match.deaths}}/{{match.assists}}</td>
					<td>{{match.networth}}</td>
					<td>{{match.duration}}</td>
				</tr>
			</tbody>
		</div>
		<div class="grid-item grid-item-1 space">
			<div class="fb-page" [attr.data-href]="this.facebookTimelineUrl" data-tabs="timeline" data-height="570" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
				<blockquote [attr.cite]="this.facebookTimelineUrl" class="fb-xfbml-parse-ignore">
					<a href="https://www.facebook.com/{{player.facebook_id}}">Puppey's Facebook</a>
				</blockquote>
			</div>
		</div>
		<div class="grid-item grid-item-1 space">
		<h1 class="headerText">Reddit</h1>
		<ul class="listContent">
			<li *ngFor="let redditnews of this.redditNewsData | filter: productID" class="list">
				<a class="listLink" href="https://www.reddit.com{{redditnews.url}}">
					<div class="listText">
						<span>
							{{redditnews.title}}
						</span>
					</div>
					<div class="underListText">
						<span>
							{{redditnews.timestamp * 1000 | date}}
						</span>
					</div>
				</a>
			</li>
		</ul>
		</div>
		<div class="grid-item grid-item-1 space">
		<h1 class="headerText">Gosugamers</h1>
		<ul class="listContent">
			<li  *ngFor="let gosugamersnews of this.gosugamersNewsData | filter: productID" class="list">
				<a class="listLink" href="{{gosugamersnews.url}}">
					<div class="listText">
						<span>
							{{gosugamersnews.title}}
						</span>
					</div>
<!-- 					<div class="underListText">
						<span>
							10 hours ago
						</span>
					</div> -->
				</a>
			</li>
		</ul>
		</div>
		<div class="grid-item grid-item-2 space">
			<h1 class="headerText">Twitch</h1>
			<iframe [src]="this.twitchVideoUrl" frameborder="0" scrolling="no" height="400" width="471"></iframe><a href="https://www.twitch.tv/sing_sing?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;"></a>
		</div>
		<div class="grid-item grid-item-1 space">
			<h1 class="headerText">Twitch Chat</h1>
			<iframe [src]="this.twitchChatUrl" frameborder="0" scrolling="no" height="500" width="300"></iframe>
		</div>
		<div class="grid-item grid-item-1 space">
			<div class="twitterContent">
				<a class="twitter-timeline" href="https://twitter.com/{{player.twitter_id}}">Tweets by {{player.twitter_id}}</a> 
			</div>
			</div>

		<div class="grid-item grid-item-1 space">
			<h1 class="headerText">Tournaments</h1>
			<ul class="listContent">
				<li  *ngFor="let tournament of this.tournamentsData | filter: productID" class="list">
					<a class="listLink" href="{{tournament.url}}">
						<div class="listText">
							<span>
								{{tournament.name}}
							</span>
						</div>
	<!-- 					<div class="underListText">
							<span>
								10 hours ago
							</span>
						</div> -->
					</a>
				</li>
			</ul>			
		</div>
	</div>
</div>
