<div class="playerSearch">
	<input type="text" class="playerSearchBar" placeholder="Search.." name="search">
</div>
<div class="grid">
	<div class="grid-item grid-item-1 space" *ngFor="let player of players">
	<a class="listLink" href="/#/creator/{{player.id}}">
		<div class="playerImage">
			<img src="./data/images/players/{{player.list_image_url}}">
		</div>
		<h1 class="headerText">{{player.nickname}}</h1>
	</a>
	</div>
	<div class="grid-item grid-item-1 space" *ngFor="let player of players">
	<a class="listLink" href="/#/creator/{{player.id}}">
		<div class="playerImage">
			<img src="./data/images/players/{{player.list_image_url}}">
		</div>
		<h1 class="headerText">{{player.nickname}}</h1>
	</a>
	</div>
	<div class="grid-item grid-item-1 space" *ngFor="let player of players">
	<a class="listLink" href="/#/creator/{{player.id}}">
		<div class="playerImage">
			<img src="./data/images/players/{{player.list_image_url}}">
		</div>
		<h1 class="headerText">{{player.nickname}}</h1>
	</a>
	</div>
	<div class="grid-item grid-item-1 space" *ngFor="let player of players">
	<a class="listLink" href="/#/creator/{{player.id}}">
		<div class="playerImage">
			<img src="./data/images/players/{{player.list_image_url}}">
		</div>
		<h1 class="headerText">{{player.nickname}}</h1>
	</a>
	</div>
	<div class="grid-item grid-item-1 space" *ngFor="let player of players">
	<a class="listLink" href="/#/creator/{{player.id}}">
		<div class="playerImage">
			<img src="./data/images/players/{{player.list_image_url}}">
		</div>
		<h1 class="headerText">{{player.nickname}}</h1>
	</a>
	</div>		
</div>
